{% extends 'base.html' %}

{% block content %}
<div class="edit-container">
    <h2>Crear Equipo</h2>

    <form class="edit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="name" placeholder="Nombre del equipo" required>
        <input type="file" name="logo" accept="image/*">

        <div class="edit-actions">
            <button type="submit" class="btn-primary">Crear</button>
            <a href="{% url 'lobby' %}" class="btn-secondary">Volver</a>
        </div>
    </form>
</div>
{% endblock %}
